html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body {
  @apply text-primary;
  background: #0a192f;
}

section {
  max-width: 1000px;
  padding: 100px 0;
  margin: 0 auto;
}

ol li {
  counter-increment: item 1;
}

ol li a::before {
  @apply mr-1 text-green text-right;
  content: '0' counter(item) '.';
}

.big-heading {
  font-size: clamp(38px, 4vw, 72px);
}

.medium-heading {
  font-size: clamp(40px, 5vw, 52px);
}

.numbered-heading {
  font-size: clamp(22px, 5vw, 28px);
  white-space: nowrap;
}

.hover-green {
  @apply hover:text-green transition-all duration-300 ease-in-out;
}

ul.skills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  overflow: hidden;
}

ul.styled li::before {
  @apply text-green mr-2;
  content: '▹';
}

aside ol li a::before {
  @apply block text-center mb-2 text-sm;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
